@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

em {
  font-style: italic;
}

:root {
  --background-light: #ededed;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;

  --red: #dd4e49;
  --lightred: #fc6f5b;
  --orange: #fc9d3d;
  --yellow: #f7d749;
  --peach: #f2b99a;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  background: var(--background-light);
  color: var(--foreground-light);
  font-family: Arial, Helvetica, sans-serif;
}
