@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

em {
  font-style: italic;
}

:root {
  --background-dark: #0a0a0f;
  --background-light: #1f2937;
  --background: #111827;

  --background-gradient: linear-gradient(
    135deg,
    var(--background-dark) 0%,
    var(--background) 50%,
    var(--background-light) 100%
  );

  --foreground-dim: hsl(240 5% 64.9%);
  --foreground-light: white;

  --red: #dd4e49;
  --lightred: #fc6f5b;
  --orange: #fc9d3d;
  --yellow: #f7d749;
  --peach: #f2b99a;
}

body {
  background: var(--background-gradient);
  color: var(--foreground-dim);
  font-family: Arial, Helvetica, sans-serif;
}
