.main {
  margin-inline: auto;
  width: fit-content;
  margin-block: 4rem;
  font-style: italic;
  text-align: center;
  color: var(--foreground-light);

  & > figcaption {
    margin-top: 1.125rem;
  }
}
