.landing {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
}

.textContainer {
  max-width: min-content;
  z-index: 10;

  h1 {
    width: min-content;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.75rem;

    @media (width >= 48rem) {
      font-size: 6rem;
    }
  }

  p {
    font-size: 1em;
    color: var(--foreground-dim);
    margin-block: 1.5rem;

    @media (width >= 48rem) {
      font-size: 1.5em;
    }
  }
}

.starsContainer {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: white;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.transition {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(
    0deg,
    var(--background-dark) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.arrowDown {
  margin-top: 3rem;
  width: 50px;
  height: 50px;
  animation: bounce 1s infinite;
  color: var(--primary);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
