.landing {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  p {
    font-size: 1.875rem;
  }
}
